*.log
*.html
*.json
./venv/*.*
venv\*.*
venv\Scripts\*.*
venv\Lib\*.*
venv\Include\*.*
venv\pyvenv.cfg
venv
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info
*.egg
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.zst
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.tar.lzma2
*.tar.lz4f
*.tar.lzop2
*.tar.lzop3
*.tar.lzop4
*.tar.lzop5
*.tar.lzop6
